<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-biometricoplugin" version="0.0.1">
    <name>BiometricoPlugin</name>

    <description>An Android Cordova plugin that allows users to display simple Toast messages at the bottom of the screen.</description>
    <license>MIT</license>

    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://github.com/rtamayov/BiometricoPlugin.git</repo>
    <issue>https://github.com/rtamayov/BiometricoPlugin/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/biometricoplugin.js" name="biometricoplugin">
        <clobbers target="window.plugins.biometricoPlugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BiometricoPlugin">
                <param name="android-package" value="pe.entel.cordova.plugin.Biometrico"/>
            </feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="application">
				<activity android:name="pe.entel.cordova.plugin.ReadActivity"></activity>
		</config-file>

        <source-file src="src/android/Biometrico.java" target-dir="src/pe/entel/cordova/plugin" />
		<source-file src="src/android/ReadActivity.java" target-dir="src/pe/entel/cordova/plugin" />
    </platform>
</plugin>